.hero__book {
  background-image: url(../img/hero-gau-lazy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.hero__book::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, #dadada 0%, #000000 100%);
  opacity: 0.35;
}
.hero__book--content {
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 60px 45px 50px;
  box-sizing: border-box;
}
.hero__book--content .title--section {
  margin-bottom: 30px;
}
.hero__book--actions {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-column-gap: 10px;
}
.hero__book--actions li {
}
.hero__book--actions a {
  display: block;
  padding: 12px 8px;
  color: var(--white);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border: 1px solid var(--white);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 700;
}
.hero__book--actions a.active,
.hero__book--actions a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
}

.hero__book--flight {
  display: grid;
  grid-template: 1fr / 1fr 30px 1fr;
  padding: 18px 0 30px;
  grid-column-gap: 10px;
}
.hero__book--separator {
  position: relative;
  text-align: center;
  padding-top: 45px;
  font-size: 22px;
  line-height: 22px;
}
.hero__book--separator::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  background: var(--grey);
  left: 0;
  margin: 0 auto;
  right: 0;
}
.hero__book--btn {
  background: var(--blue);
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  font-weight: 700;
  box-sizing: border-box;
}
.hero__book--btn:hover {
  background-color: var(--white);
  color: var(--blue);
}
